body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Темный фон */
    color: #e0e0e0; /* Светлый текст */
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; /* Темно-синий цвет */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none; /* Убираем маркеры у списка навигации */
    padding: 0;
}

nav ul li {
    display: inline; /* Горизонтальное расположение элементов меню */
    margin-right: 20px; /* Отступ между пунктами меню */
}

nav ul li a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

h1, h2, h3 {
    margin: 10px 0;
}

ul {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00509e; /* Более светлый темно-синий цвет для заголовков */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366; /* Темно-синий цвет */
    color: white;
}

img {
    max-width: 100px; /* Максимальная ширина изображений */
    margin-left: 10px; /* Отступ слева от изображений */
}
